{
  "openapi": "3.1.0",
  "info": {
    "title": "Lettr API",
    "version": "1.0.0",
    "description": "Lettr Email API - Send transactional emails with tracking, attachments, and personalization.",
    "contact": {
      "name": "Lettr Support",
      "url": "https://lettr.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://lettr.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://app.lettr.com/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health Check",
        "description": "Check the health status of the API. This endpoint does not require authentication.",
        "tags": [
          "System"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message",
                    "data"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Health check passed."
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "status",
                        "timestamp"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "ok"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-01-15T10:30:00.000Z"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Health check passed.",
                  "data": {
                    "status": "ok",
                    "timestamp": "2024-01-15T10:30:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/check": {
      "get": {
        "operationId": "authCheck",
        "summary": "Validate API Key",
        "description": "Validate the provided API key and return associated team information. Use this endpoint to verify API key validity in client libraries.",
        "tags": [
          "System"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message",
                    "data"
                  ],
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "API key is valid."
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "team_id",
                        "timestamp"
                      ],
                      "properties": {
                        "team_id": {
                          "type": "integer",
                          "description": "The team ID associated with the API key",
                          "example": 123
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-01-15T10:30:00.000Z"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "API key is valid.",
                  "data": {
                    "team_id": 123,
                    "timestamp": "2024-01-15T10:30:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/emails": {
      "post": {
        "operationId": "sendEmail",
        "summary": "Send Email",
        "description": "Send a transactional email with optional attachments, tracking, and personalization. At least one of `html` or `text` content must be provided.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal request (required fields only)",
                  "description": "The absolute minimum required to send an email: from, to, subject, and either html or text content. Subject is required when not using a template.",
                  "value": {
                    "from": "sender@example.com",
                    "to": [
                      "recipient@example.com"
                    ],
                    "subject": "Hello",
                    "html": "<p>Hello!</p>"
                  }
                },
                "html-and-text": {
                  "summary": "HTML and plain text (recommended)",
                  "description": "Sending both HTML and plain text ensures email renders correctly in all email clients.",
                  "value": {
                    "from": "sender@example.com",
                    "from_name": "Sender Name",
                    "to": [
                      "recipient@example.com"
                    ],
                    "subject": "Welcome to Lettr",
                    "html": "<h1>Hello</h1><p>Welcome to our service!</p>",
                    "text": "Hello\n\nWelcome to our service!",
                    "options": {
                      "click_tracking": true,
                      "open_tracking": true
                    }
                  }
                },
                "html-only": {
                  "summary": "HTML only",
                  "description": "Send HTML content only. Some email clients may not render properly without a text fallback.",
                  "value": {
                    "from": "sender@example.com",
                    "to": [
                      "recipient@example.com"
                    ],
                    "subject": "Welcome to Lettr",
                    "html": "<h1>Hello</h1><p>Welcome to our service!</p>"
                  }
                },
                "text-only": {
                  "summary": "Plain text only",
                  "description": "Send plain text content only. Ideal for simple notifications.",
                  "value": {
                    "from": "sender@example.com",
                    "to": [
                      "recipient@example.com"
                    ],
                    "subject": "Order Confirmation",
                    "text": "Your order #12345 has been confirmed.\n\nThank you for your purchase!"
                  }
                },
                "with-attachments": {
                  "summary": "Email with attachments",
                  "description": "Send an email with file attachments. Attachments must be base64 encoded.",
                  "value": {
                    "from": "billing@example.com",
                    "from_name": "Billing Department",
                    "to": [
                      "customer@example.com"
                    ],
                    "subject": "Your Invoice",
                    "html": "<p>Please find your invoice attached.</p>",
                    "text": "Please find your invoice attached.",
                    "attachments": [
                      {
                        "name": "invoice.pdf",
                        "type": "application/pdf",
                        "data": "JVBERi0xLjQKJeLjz9MKMyAwIG9iago8PC9UeXBlL1BhZ2U="
                      }
                    ]
                  }
                },
                "with-personalization": {
                  "summary": "Personalized email with substitution",
                  "description": "Use substitution_data to personalize email content with dynamic variables.",
                  "value": {
                    "from": "hello@example.com",
                    "from_name": "Acme Inc",
                    "to": [
                      "john@example.com"
                    ],
                    "subject": "Welcome, {{first_name}}!",
                    "html": "<h1>Hello {{first_name}}</h1><p>Welcome to {{company}}!</p>",
                    "text": "Hello {{first_name}},\n\nWelcome to {{company}}!",
                    "substitution_data": {
                      "first_name": "John",
                      "company": "Acme Inc"
                    },
                    "metadata": {
                      "user_id": "12345",
                      "campaign": "onboarding"
                    }
                  }
                },
                "with-template": {
                  "summary": "Email using a template",
                  "description": "Send an email using a pre-defined template. The template's HTML content and subject will be used. You can optionally override the subject.",
                  "value": {
                    "from": "hello@example.com",
                    "to": [
                      "john@example.com"
                    ],
                    "template_slug": "welcome-email",
                    "substitution_data": {
                      "first_name": "John"
                    }
                  }
                },
                "with-template-and-project": {
                  "summary": "Email using a template from a specific project",
                  "description": "Send an email using a template from a specific project with a specific version. Subject is taken from the template unless explicitly provided.",
                  "value": {
                    "from": "hello@example.com",
                    "to": [
                      "john@example.com"
                    ],
                    "project_id": 123,
                    "template_slug": "welcome-email",
                    "template_version": 2,
                    "substitution_data": {
                      "first_name": "John"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email queued for delivery. Free tier teams receive quota headers indicating their usage and limits.",
            "headers": {
              "X-Monthly-Limit": {
                "description": "Total monthly email limit for this team. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 3000
                }
              },
              "X-Monthly-Remaining": {
                "description": "Remaining emails allowed this month. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 2500
                }
              },
              "X-Monthly-Reset": {
                "description": "Unix timestamp when the monthly quota resets (start of next month). Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 1740787200
                }
              },
              "X-Daily-Limit": {
                "description": "Total daily email limit for this team. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-Daily-Remaining": {
                "description": "Remaining emails allowed today. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 75
                }
              },
              "X-Daily-Reset": {
                "description": "Unix timestamp when the daily quota resets (tomorrow midnight UTC). Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 1739600000
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailSuccessResponse"
                },
                "example": {
                  "message": "Email queued for delivery.",
                  "data": {
                    "request_id": "12345678901234567890",
                    "accepted": 1,
                    "rejected": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to send email (domain errors)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_domain": {
                    "summary": "Invalid sender domain",
                    "value": {
                      "message": "The sender domain could not be determined from the email address.",
                      "error_code": "invalid_domain"
                    }
                  },
                  "unconfigured_domain": {
                    "summary": "Unconfigured sender domain",
                    "value": {
                      "message": "The sender domain is not configured or approved for sending.",
                      "error_code": "unconfigured_domain"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Template or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found",
                    "value": {
                      "message": "Template with slug 'welcome-email' was not found.",
                      "error_code": "template_not_found"
                    }
                  },
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "template_not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "template_not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "from": [
                      "The sender email address is required."
                    ],
                    "to": [
                      "At least one recipient email address is required."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Sending quota exceeded. The response includes quota headers to help determine current usage and when the limit resets.",
            "headers": {
              "X-Monthly-Limit": {
                "description": "Total monthly email limit for this team.",
                "schema": {
                  "type": "integer",
                  "example": 3000
                }
              },
              "X-Monthly-Remaining": {
                "description": "Remaining emails allowed this month (0 when limit is hit).",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Monthly-Reset": {
                "description": "Unix timestamp when the monthly quota resets (start of next month).",
                "schema": {
                  "type": "integer",
                  "example": 1740787200
                }
              },
              "X-Daily-Limit": {
                "description": "Total daily email limit for this team.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-Daily-Remaining": {
                "description": "Remaining emails allowed today (0 when limit is hit).",
                "schema": {
                  "type": "integer",
                  "example": 0
                }
              },
              "X-Daily-Reset": {
                "description": "Unix timestamp when the daily quota resets (tomorrow midnight UTC).",
                "schema": {
                  "type": "integer",
                  "example": 1739600000
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "monthly_quota_exceeded": {
                    "summary": "Monthly sending quota exceeded",
                    "value": {
                      "message": "Sending quota exceeded. Upgrade your plan to continue sending.",
                      "error_code": "quota_exceeded"
                    }
                  },
                  "daily_quota_exceeded": {
                    "summary": "Daily sending quota exceeded",
                    "value": {
                      "message": "Daily sending quota exceeded. Please try again tomorrow.",
                      "error_code": "daily_quota_exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to send email. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          },
          "502": {
            "description": "Email transmission failed (upstream provider error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Unconfigured Sending Domain <sender.example.com>",
                  "error_code": "transmission_failed"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listEmails",
        "summary": "List Sent Emails",
        "description": "Retrieve a paginated list of sent emails. Supports filtering by recipient email and date range. Uses cursor-based pagination.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page (1-100). Defaults to 25.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination. Use the `next_cursor` value from the previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipients",
            "in": "query",
            "description": "Filter by recipient email address.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter emails sent after this date (ISO 8601). Defaults to 10 days ago.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter emails sent before this date (ISO 8601).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emails retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEmailsResponse"
                },
                "example": {
                  "message": "Emails retrieved successfully.",
                  "data": {
                    "events": {
                      "data": [
                        {
                          "event_id": "abc123",
                          "type": "injection",
                          "timestamp": "2024-01-15T10:30:00Z",
                          "request_id": "12345678901234567890",
                          "message_id": "msg-abc123",
                          "subject": "Welcome Email",
                          "friendly_from": "sender@example.com",
                          "sending_domain": "example.com",
                          "rcpt_to": "recipient@example.com",
                          "click_tracking": true,
                          "open_tracking": true,
                          "transactional": true
                        }
                      ],
                      "total_count": 1,
                      "from": "2024-01-05T00:00:00Z",
                      "to": "2024-01-15T23:59:59Z",
                      "pagination": {
                        "next_cursor": null,
                        "per_page": 25
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Retrieval error (e.g., sandbox key without associated user)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Sandbox API key does not have an associated user with an email address.",
                  "error_code": "retrieval_error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "per_page": [
                      "The per_page parameter must be an integer."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve emails. Please try again later.",
                  "error_code": "retrieval_error"
                }
              }
            }
          }
        }
      }
    },
    "/emails/events": {
      "get": {
        "operationId": "listEmailEvents",
        "summary": "List Email Events",
        "description": "Retrieve email events (deliveries, bounces, opens, clicks, etc.) for your account. Events are returned in reverse chronological order. If no `from` date is provided, defaults to the last 10 days.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "events",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of event types to filter by. Valid types: `injection`, `delivery`, `bounce`, `delay`, `out_of_band`, `spam_complaint`, `policy_rejection`, `click`, `open`, `initial_open`, `amp_click`, `amp_open`, `amp_initial_open`, `generation_failure`, `generation_rejection`, `list_unsubscribe`, `link_unsubscribe`.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "injection",
                  "delivery",
                  "bounce",
                  "delay",
                  "out_of_band",
                  "spam_complaint",
                  "policy_rejection",
                  "click",
                  "open",
                  "initial_open",
                  "amp_click",
                  "amp_open",
                  "amp_initial_open",
                  "generation_failure",
                  "generation_rejection",
                  "list_unsubscribe",
                  "link_unsubscribe"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "examples": {
              "single": {
                "summary": "Single event type",
                "value": [
                  "delivery"
                ]
              },
              "multiple": {
                "summary": "Multiple event types",
                "value": [
                  "delivery",
                  "bounce",
                  "open"
                ]
              }
            }
          },
          {
            "name": "recipients",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of recipient email addresses to filter by.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "email"
              }
            },
            "style": "form",
            "explode": false,
            "examples": {
              "single": {
                "summary": "Single recipient",
                "value": [
                  "recipient@example.com"
                ]
              },
              "multiple": {
                "summary": "Multiple recipients",
                "value": [
                  "recipient@example.com",
                  "other@example.com"
                ]
              }
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date for the event search range. Defaults to 10 days ago if not provided.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date for the event search range. Defaults to now if not provided.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-31"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of events per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "example": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor returned from a previous request.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transmissions",
            "in": "query",
            "required": false,
            "description": "Filter events by transmission ID (request_id).",
            "schema": {
              "type": "string",
              "example": "12345678901234567890"
            }
          },
          {
            "name": "bounce_classes",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of bounce classification codes to filter by.",
            "schema": {
              "type": "string",
              "example": "10,30"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEmailEventsResponse"
                },
                "example": {
                  "message": "Email events retrieved successfully.",
                  "data": {
                    "events": {
                      "data": [
                        {
                          "event_id": "event-delivery-1",
                          "type": "delivery",
                          "timestamp": "2024-01-15T10:31:00.000Z",
                          "request_id": "12345678901234567890",
                          "rcpt_to": "recipient@example.com",
                          "raw_rcpt_to": "recipient@example.com",
                          "recipient_domain": "example.com",
                          "mailbox_provider": "Gmail",
                          "mailbox_provider_region": "Global",
                          "subject": "Welcome to Lettr",
                          "friendly_from": "sender@example.com",
                          "queue_time": 500
                        },
                        {
                          "event_id": "event-bounce-1",
                          "type": "bounce",
                          "timestamp": "2024-01-15T10:32:00.000Z",
                          "request_id": "12345678901234567891",
                          "rcpt_to": "bounced@example.com",
                          "raw_rcpt_to": "bounced@example.com",
                          "recipient_domain": "example.com",
                          "mailbox_provider": "Gmail",
                          "mailbox_provider_region": "Global",
                          "subject": "Welcome to Lettr",
                          "bounce_class": 10,
                          "error_code": "550",
                          "reason": "User unknown"
                        }
                      ],
                      "total_count": 2,
                      "from": "2024-01-05T00:00:00+00:00",
                      "to": "2024-01-15T10:35:00+00:00",
                      "pagination": {
                        "next_cursor": null,
                        "per_page": 25
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "per_page": [
                      "The per_page parameter must be an integer."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/emails/{requestId}": {
      "get": {
        "operationId": "getEmailDetail",
        "summary": "Get Email Detail",
        "description": "Retrieve all events for a specific sent email by its request ID. Returns delivery, bounce, open, click, and other events in reverse chronological order. If no `from` date is provided, defaults to the last 10 days.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "description": "The request ID (transmission ID) of the sent email.",
            "schema": {
              "type": "string",
              "example": "7610639000055488914"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start date for the event search range. Defaults to 10 days ago if not provided.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End date for the event search range. Defaults to now if not provided.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email detail retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmailDetailResponse"
                },
                "example": {
                  "message": "Email retrieved successfully.",
                  "data": {
                    "transmission_id": "7610639000055488914",
                    "state": "delivered",
                    "scheduled_at": null,
                    "from": "sender@example.com",
                    "from_name": null,
                    "subject": "Welcome to Lettr",
                    "recipients": [
                      "recipient@example.com"
                    ],
                    "num_recipients": 1,
                    "events": [
                      {
                        "event_id": "event-open-1",
                        "type": "open",
                        "timestamp": "2024-01-15T10:32:00.000Z",
                        "request_id": "7610639000055488914",
                        "rcpt_to": "recipient@example.com",
                        "raw_rcpt_to": "recipient@example.com",
                        "recipient_domain": "example.com",
                        "mailbox_provider": "Gmail",
                        "mailbox_provider_region": "Global",
                        "subject": "Welcome to Lettr",
                        "friendly_from": "sender@example.com"
                      },
                      {
                        "event_id": "event-delivery-1",
                        "type": "delivery",
                        "timestamp": "2024-01-15T10:31:00.000Z",
                        "request_id": "7610639000055488914",
                        "rcpt_to": "recipient@example.com",
                        "raw_rcpt_to": "recipient@example.com",
                        "recipient_domain": "example.com",
                        "mailbox_provider": "Gmail",
                        "mailbox_provider_region": "Global",
                        "subject": "Welcome to Lettr",
                        "friendly_from": "sender@example.com",
                        "queue_time": 500
                      },
                      {
                        "event_id": "event-injection-1",
                        "type": "injection",
                        "timestamp": "2024-01-15T10:30:00.000Z",
                        "request_id": "7610639000055488914",
                        "rcpt_to": "recipient@example.com",
                        "raw_rcpt_to": "recipient@example.com",
                        "recipient_domain": "example.com",
                        "mailbox_provider": "Gmail",
                        "mailbox_provider_region": "Global",
                        "subject": "Welcome to Lettr",
                        "friendly_from": "sender@example.com"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Email not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "from": [
                      "The from parameter must be a valid date."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/emails/scheduled": {
      "post": {
        "operationId": "scheduleEmail",
        "summary": "Schedule Email",
        "description": "Schedule a transactional email for future delivery. Accepts the same payload as `POST /emails` with an additional required `scheduled_at` field. The email must be scheduled at least 5 minutes in the future and within 3 days.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleEmailRequest"
              },
              "example": {
                "from": "sender@example.com",
                "from_name": "Sender Name",
                "to": [
                  "recipient@example.com"
                ],
                "subject": "Scheduled Newsletter",
                "html": "<h1>Hello</h1><p>This email was scheduled!</p>",
                "scheduled_at": "2024-01-16T10:00:00Z",
                "options": {
                  "click_tracking": true,
                  "open_tracking": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Email scheduled for delivery. Free tier teams receive quota headers indicating their usage and limits.",
            "headers": {
              "X-Monthly-Limit": {
                "description": "Total monthly email limit for this team. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 3000
                }
              },
              "X-Monthly-Remaining": {
                "description": "Remaining emails allowed this month. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 2500
                }
              },
              "X-Monthly-Reset": {
                "description": "Unix timestamp when the monthly quota resets.",
                "schema": {
                  "type": "integer",
                  "example": 1740787200
                }
              },
              "X-Daily-Limit": {
                "description": "Total daily email limit for this team. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 100
                }
              },
              "X-Daily-Remaining": {
                "description": "Remaining emails allowed today. Only present for free tier teams.",
                "schema": {
                  "type": "integer",
                  "example": 75
                }
              },
              "X-Daily-Reset": {
                "description": "Unix timestamp when the daily quota resets.",
                "schema": {
                  "type": "integer",
                  "example": 1739600000
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailSuccessResponse"
                },
                "example": {
                  "message": "Email scheduled for delivery.",
                  "data": {
                    "request_id": "12345678901234567890",
                    "accepted": 1,
                    "rejected": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Failed to schedule email (domain errors)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_domain": {
                    "summary": "Invalid sender domain",
                    "value": {
                      "message": "The sender domain could not be determined from the email address.",
                      "error_code": "invalid_domain"
                    }
                  },
                  "unconfigured_domain": {
                    "summary": "Unconfigured sender domain",
                    "value": {
                      "message": "The sender domain is not configured or approved for sending.",
                      "error_code": "unconfigured_domain"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "scheduled_at": [
                      "The scheduled delivery time is required."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Sending quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Sending quota exceeded. Upgrade your plan to continue sending.",
                  "error_code": "quota_exceeded"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "502": {
            "description": "Email transmission failed (upstream provider error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Unconfigured Sending Domain <sender.example.com>",
                  "error_code": "transmission_failed"
                }
              }
            }
          }
        }
      }
    },
    "/emails/scheduled/{transmissionId}": {
      "get": {
        "operationId": "showScheduledEmail",
        "summary": "Get Scheduled Email",
        "description": "Retrieve details of a scheduled email transmission by its transmission ID. If the transmission is still pending, returns the scheduled state. If the transmission has already been processed by SparkPost, automatically falls back to returning delivery events with the same response shape.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "transmissionId",
            "in": "path",
            "required": true,
            "description": "The transmission ID returned when the email was scheduled.",
            "schema": {
              "type": "string",
              "example": "12345678901234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled transmission retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowScheduledTransmissionResponse"
                },
                "examples": {
                  "pending": {
                    "summary": "Still scheduled (pending delivery)",
                    "value": {
                      "message": "Scheduled transmission retrieved successfully.",
                      "data": {
                        "transmission_id": "12345678901234567890",
                        "state": "submitted",
                        "scheduled_at": "2024-01-16T10:00:00+00:00",
                        "from": "sender@example.com",
                        "from_name": "Sender Name",
                        "subject": "Scheduled Newsletter",
                        "recipients": [
                          "recipient@example.com"
                        ],
                        "num_recipients": 1,
                        "events": []
                      }
                    }
                  },
                  "delivered": {
                    "summary": "Already processed (delivery events returned)",
                    "value": {
                      "message": "Scheduled transmission retrieved successfully.",
                      "data": {
                        "transmission_id": "12345678901234567890",
                        "state": "delivered",
                        "scheduled_at": null,
                        "from": "sender@example.com",
                        "from_name": null,
                        "subject": "Scheduled Newsletter",
                        "recipients": [
                          "recipient@example.com"
                        ],
                        "num_recipients": 1,
                        "events": [
                          {
                            "event_id": "evt-delivery-1",
                            "type": "delivery",
                            "timestamp": "2024-01-16T10:00:02.000Z",
                            "request_id": "12345678901234567890",
                            "rcpt_to": "recipient@example.com",
                            "raw_rcpt_to": "recipient@example.com",
                            "recipient_domain": "example.com",
                            "mailbox_provider": "Gmail",
                            "mailbox_provider_region": "Global",
                            "subject": "Scheduled Newsletter",
                            "friendly_from": "sender@example.com",
                            "queue_time": 500
                          },
                          {
                            "event_id": "evt-injection-1",
                            "type": "injection",
                            "timestamp": "2024-01-16T10:00:00.000Z",
                            "request_id": "12345678901234567890",
                            "rcpt_to": "recipient@example.com",
                            "raw_rcpt_to": "recipient@example.com",
                            "recipient_domain": "example.com",
                            "mailbox_provider": "Gmail",
                            "mailbox_provider_region": "Global",
                            "subject": "Scheduled Newsletter",
                            "friendly_from": "sender@example.com"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "description": "Scheduled transmission not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Scheduled transmission not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "operationId": "cancelScheduledEmail",
        "summary": "Cancel Scheduled Email",
        "description": "Cancel a scheduled email transmission before it is sent. Once the scheduled delivery time has passed, the transmission can no longer be cancelled.",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "transmissionId",
            "in": "path",
            "required": true,
            "description": "The transmission ID returned when the email was scheduled.",
            "schema": {
              "type": "string",
              "example": "12345678901234567890"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled transmission cancelled successfully",
            "content": {
              "application/json": {
                "example": {
                  "message": "Scheduled transmission cancelled successfully."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "description": "Cancellation failed (transmission already sent or not found)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to cancel scheduled transmission trans-123.",
                  "error_code": "schedule_cancellation_failed"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "listDomains",
        "summary": "List Domains",
        "description": "Retrieve all sending domains registered with your account. Returns domains with their current status, verification state, and timestamps.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomainsResponse"
                },
                "example": {
                  "message": "Domains retrieved successfully.",
                  "data": {
                    "domains": [
                      {
                        "domain": "example.com",
                        "status": "approved",
                        "status_label": "Approved",
                        "can_send": true,
                        "cname_status": "valid",
                        "dkim_status": "valid",
                        "created_at": "2024-01-15T10:30:00+00:00",
                        "updated_at": "2024-01-16T14:45:00+00:00"
                      },
                      {
                        "domain": "pending.example.com",
                        "status": "pending",
                        "status_label": "Pending Review",
                        "can_send": false,
                        "cname_status": null,
                        "dkim_status": null,
                        "created_at": "2024-01-17T09:00:00+00:00",
                        "updated_at": "2024-01-17T09:00:00+00:00"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Server error - Failed to retrieve domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve domains. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDomain",
        "summary": "Create Domain",
        "description": "Register a new sending domain with your account. The domain will be created with SparkPost and stored as approved by default, unless global domain reputation marks it for review or blacklist.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDomainRequest"
              },
              "example": {
                "domain": "example.com"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreDomainResponse"
                },
                "example": {
                  "message": "Domain created successfully.",
                  "data": {
                    "domain": "example.com",
                    "status": "approved",
                    "status_label": "Approved",
                    "dkim": {
                      "public": "MIGfMA0GCSqGSIb3DQEBA...",
                      "selector": "scph0123",
                      "headers": "from:to:subject:date",
                      "signing_domain": "example.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "description": "Conflict - Domain already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "This domain is already registered.",
                  "error_code": "resource_already_exists"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "domain": [
                      "The domain must be a valid domain name (e.g., example.com)."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to create domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "We could not register your domain. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{domain}": {
      "get": {
        "operationId": "showDomain",
        "summary": "Get Domain",
        "description": "Retrieve details of a single sending domain including DNS records and tracking domain configuration.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain name to retrieve",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowDomainResponse"
                },
                "example": {
                  "message": "Domain retrieved successfully.",
                  "data": {
                    "domain": "example.com",
                    "status": "approved",
                    "status_label": "Approved",
                    "can_send": true,
                    "cname_status": "valid",
                    "dkim_status": "valid",
                    "dmarc_status": "valid",
                    "spf_status": "valid",
                    "is_primary_domain": false,
                    "tracking_domain": "tracking.example.com",
                    "dns": {
                      "dkim": {
                        "selector": "scph0123",
                        "public": "MIGfMA0GCSqGSIb3DQEBA...",
                        "headers": "from:to:subject:date"
                      }
                    },
                    "dns_provider": null,
                    "created_at": "2024-01-15T10:30:00+00:00",
                    "updated_at": "2024-01-16T14:45:00+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Domain not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to retrieve domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve domain. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDomain",
        "summary": "Delete Domain",
        "description": "Delete a sending domain. This removes the domain from both SparkPost and the Lettr system. The domain will no longer be available for sending emails.",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "The domain name to delete",
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Domain not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error - Invalid domain format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "domain": [
                      "The domain must be a valid domain name (e.g., example.com)."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to delete domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to delete domain. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List Webhooks",
        "description": "Retrieve all webhooks configured for your account. Returns webhooks with their current status, event types, and delivery information.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWebhooksResponse"
                },
                "example": {
                  "message": "Webhooks retrieved successfully.",
                  "data": {
                    "webhooks": [
                      {
                        "id": "webhook-abc123",
                        "name": "Order Notifications",
                        "url": "https://example.com/webhook",
                        "enabled": true,
                        "event_types": [
                          "message.delivery",
                          "message.bounce"
                        ],
                        "auth_type": "basic",
                        "has_auth_credentials": true,
                        "last_successful_at": "2024-01-15T10:30:00+00:00",
                        "last_failure_at": null,
                        "last_status": "success"
                      },
                      {
                        "id": "webhook-def456",
                        "name": "Support Notifications",
                        "url": "https://example.com/support-webhook",
                        "enabled": false,
                        "event_types": null,
                        "auth_type": "none",
                        "has_auth_credentials": false,
                        "last_successful_at": null,
                        "last_failure_at": "2024-01-14T08:00:00+00:00",
                        "last_status": "failure"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "description": "Server error - Failed to retrieve webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve webhooks. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "storeWebhook",
        "summary": "Create Webhook",
        "description": "Create a new webhook to receive event notifications at the specified URL.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreWebhookRequest"
              },
              "example": {
                "name": "Order Notifications",
                "url": "https://example.com/webhook",
                "auth_type": "basic",
                "auth_username": "user",
                "auth_password": "secret",
                "events_mode": "selected",
                "events": [
                  "message.delivery",
                  "message.bounce"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreWebhookResponse"
                },
                "example": {
                  "message": "Webhook created successfully.",
                  "data": {
                    "id": "webhook-abc123",
                    "name": "Order Notifications",
                    "url": "https://example.com/webhook",
                    "enabled": true,
                    "event_types": [
                      "message.delivery",
                      "message.bounce"
                    ],
                    "auth_type": "basic",
                    "has_auth_credentials": true,
                    "last_successful_at": null,
                    "last_failure_at": null,
                    "last_status": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - SparkPost rejected the webhook configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Invalid webhook configuration.",
                  "error_code": "send_error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "description": "Conflict - A webhook with this target URL already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "A webhook with this target URL already exists.",
                  "error_code": "resource_already_exists"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "description": "Server error - Failed to create webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to create webhook. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "get": {
        "operationId": "showWebhook",
        "summary": "Get Webhook",
        "description": "Retrieve details of a single webhook including its status, event types, and delivery information.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The webhook ID to retrieve",
            "schema": {
              "type": "string",
              "example": "webhook-abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowWebhookResponse"
                },
                "example": {
                  "message": "Webhook retrieved successfully.",
                  "data": {
                    "id": "webhook-abc123",
                    "name": "Order Notifications",
                    "url": "https://example.com/webhook",
                    "enabled": true,
                    "event_types": [
                      "message.delivery",
                      "message.bounce"
                    ],
                    "auth_type": "basic",
                    "has_auth_credentials": true,
                    "last_successful_at": "2024-01-15T10:30:00+00:00",
                    "last_failure_at": null,
                    "last_status": "success"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Webhook not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to retrieve webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve webhook. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update Webhook",
        "description": "Update an existing webhook. Only the fields provided will be updated (partial update). You can change the name, target URL, authentication, events, or active status.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The webhook ID to update",
            "schema": {
              "type": "string",
              "example": "webhook-abc123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              },
              "example": {
                "name": "Updated Webhook Name",
                "active": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowWebhookResponse"
                },
                "example": {
                  "message": "Webhook updated successfully.",
                  "data": {
                    "id": "webhook-abc123",
                    "name": "Updated Webhook Name",
                    "url": "https://example.com/webhook",
                    "enabled": false,
                    "event_types": [
                      "message.delivery",
                      "message.bounce"
                    ],
                    "auth_type": "basic",
                    "has_auth_credentials": true,
                    "last_successful_at": "2024-01-15T10:30:00+00:00",
                    "last_failure_at": null,
                    "last_status": "success"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid webhook configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Invalid webhook configuration",
                  "error_code": "send_error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Webhook not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "description": "Server error - Failed to update webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to update webhook. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete Webhook",
        "description": "Delete a webhook. This removes the webhook from SparkPost and it will no longer receive event notifications.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "description": "The webhook ID to delete",
            "schema": {
              "type": "string",
              "example": "webhook-abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Webhook deleted successfully."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Webhook not found.",
                  "error_code": "not_found"
                }
              }
            }
          },
          "422": {
            "description": "Validation error - Invalid webhook ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "webhookId": [
                      "The webhook ID is required."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error - Failed to delete webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to delete webhook. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List Templates",
        "description": "Retrieve a paginated list of email templates for a project. If `project_id` is not provided, templates from the team's default project will be returned.",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to retrieve templates from. If not provided, uses the team's default project.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTemplatesResponse"
                },
                "example": {
                  "message": "Templates retrieved successfully.",
                  "data": {
                    "templates": [
                      {
                        "id": 1,
                        "name": "Welcome Email",
                        "slug": "welcome-email",
                        "project_id": 5,
                        "folder_id": 10,
                        "created_at": "2025-01-15T10:00:00+00:00",
                        "updated_at": "2025-01-20T14:30:00+00:00"
                      }
                    ],
                    "pagination": {
                      "total": 42,
                      "per_page": 25,
                      "current_page": 1,
                      "last_page": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Project not found or no default project configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "project_id": [
                      "The project_id parameter must be an integer."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve templates. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "summary": "Create Template",
        "description": "Create a new email template with HTML or Topol editor JSON content. Automatically creates and publishes a template version with extracted merge tags.",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              },
              "examples": {
                "with_json": {
                  "summary": "Create with Topol JSON",
                  "value": {
                    "name": "Welcome Email",
                    "json": "{\"tagName\":\"mj-container\",\"children\":[{\"tagName\":\"mj-text\",\"content\":\"Hello {{FIRST_NAME}}!\"}]}"
                  }
                },
                "with_html": {
                  "summary": "Create with custom HTML",
                  "value": {
                    "name": "Newsletter",
                    "html": "<html><body><p>Hello {{NAME}}, your order {{ORDER_ID}} is ready!</p></body></html>"
                  }
                },
                "with_project_and_folder": {
                  "summary": "Create in specific project and folder",
                  "value": {
                    "name": "Invoice Email",
                    "project_id": 5,
                    "folder_id": 10,
                    "html": "<html><body><p>Invoice for {{CUSTOMER_NAME}}</p></body></html>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTemplateResponse"
                },
                "example": {
                  "message": "Template created successfully.",
                  "data": {
                    "id": 123,
                    "name": "Welcome Email",
                    "slug": "welcome-email",
                    "project_id": 5,
                    "folder_id": 10,
                    "active_version": 1,
                    "merge_tags": [
                      {
                        "key": "FIRST_NAME",
                        "required": true
                      }
                    ],
                    "created_at": "2026-01-28T12:00:00+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Project or folder not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  },
                  "folder_not_found": {
                    "summary": "Folder not found",
                    "value": {
                      "message": "Folder with ID '456' was not found in the specified project.",
                      "error_code": "not_found"
                    }
                  },
                  "no_folders": {
                    "summary": "No folders in project",
                    "value": {
                      "message": "Project with ID '123' has no folders. Please create a folder first.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "name_required": {
                    "summary": "Name is required",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "name": [
                          "The name field is required."
                        ]
                      }
                    }
                  },
                  "no_content": {
                    "summary": "No content provided",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "html": [
                          "Either html or json content is required."
                        ]
                      }
                    }
                  },
                  "both_content": {
                    "summary": "Both html and json provided",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "json": [
                          "The json and html fields are mutually exclusive. Provide only one."
                        ]
                      }
                    }
                  },
                  "invalid_json": {
                    "summary": "Invalid JSON syntax",
                    "value": {
                      "message": "Validation failed.",
                      "error_code": "validation_error",
                      "errors": {
                        "json": [
                          "The provided JSON is not valid."
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to create template. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{slug}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Get Template",
        "description": "Retrieve a single email template by its slug. If `project_id` is not provided, the template will be looked up in the team's default project.",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The template slug (URL-friendly identifier)",
            "schema": {
              "type": "string",
              "example": "welcome-email"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to retrieve the template from. If not provided, uses the team's default project.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowTemplateResponse"
                },
                "example": {
                  "message": "Template retrieved successfully.",
                  "data": {
                    "id": 1,
                    "name": "Welcome Email",
                    "slug": "welcome-email",
                    "project_id": 5,
                    "folder_id": 10,
                    "active_version": 2,
                    "versions_count": 3,
                    "created_at": "2025-01-15T10:00:00+00:00",
                    "updated_at": "2025-01-20T14:30:00+00:00"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Template or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found",
                    "value": {
                      "message": "Template with slug 'welcome-email' was not found.",
                      "error_code": "not_found"
                    }
                  },
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "example": {
                  "message": "Validation failed.",
                  "error_code": "validation_error",
                  "errors": {
                    "project_id": [
                      "The project_id parameter must be an integer."
                    ]
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "Failed to retrieve template. Please try again later.",
                  "error_code": "send_error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Delete Template",
        "description": "Permanently delete an email template and all its versions. If `project_id` is not provided, the template will be looked up in the team's default project.",
        "tags": [
          "Templates"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The template slug (URL-friendly identifier)",
            "schema": {
              "type": "string",
              "example": "welcome-email"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID to delete the template from. If not provided, uses the team's default project.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTemplateResponse"
                },
                "example": {
                  "message": "Template deleted successfully."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Template or project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "template_not_found": {
                    "summary": "Template not found",
                    "value": {
                      "message": "Template with slug 'welcome-email' was not found.",
                      "error_code": "not_found"
                    }
                  },
                  "project_not_found": {
                    "summary": "Project not found",
                    "value": {
                      "message": "Project with ID '123' was not found or you don't have access to it.",
                      "error_code": "not_found"
                    }
                  },
                  "no_default_project": {
                    "summary": "No default project configured",
                    "value": {
                      "message": "No default project is configured for this team.",
                      "error_code": "not_found"
                    }
                  }
                }
              }
            }
          },
          "422": {
[...]
